### Including Libraries

In [ ]:
import numpy as np
import pandas as pd
import spacy
import codecs, sys
import random
unlp = spacy.blank('ur')
from collections import Counter

### File Loading

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Internship/Project 4/Urdu To Roman/Dataset.csv")
df

        Unnamed: 0                                               Text
0                0  aalmi bank askriat pasandi se mutasirah khanda...
1                1  maali saal 2020 return file karne walon ki tad...
2                2  japan ko sindh ke khusoosi iqtisadi zone mein ...
3                3  bramdat 767 feesad barh kar arab 16 crore doll...
4                4  ke electric ko izafi bijli gas ki farahmi ke q...
...            ...                                                ...
130316       18597  amrici fouj ne security khadshaat ke paish e n...
130317       18598  duniya bhar mein masnoaat ki bar se le kar un ...
130318       18599  krstina coach ne musalsal mah khalaa mein guza...
130319       18600  apple ne apni smart watch mein 2018 mein e si ...
130320       18601  huawei ka naya flag ship phone pi 40 is compan...

[130321 rows x 2 columns]

In [ ]:
data = []

for i in df['Text']:
  data.append(i)

print(len(data) , type(data[0]))

130321 <class 'str'>

### Lower Casing

In [ ]:
for i in range(len(data)):
    if type(data[i]) == 'str':
        data[i] = data[i].lower()

### Pre_Processing + Tokenizing

In [ ]:
tokens = []
punc = '''!()%\nÙª-;Û”ØŒ:\n\/'"\,â€œ./ØŸ_Ø¡'''

In [ ]:
for sentence in data:

    if type(sentence) == str: 

          sentence = unlp(sentence)
          for word in sentence:
              
              word = str(word)
              for index in word:
                  
                  if index in punc:
                      word = word.replace(index,'')
                      
              if word != "\n" and word != "\r" and word != " " and word != '' and word != " \r" and word !='â€˜' and word !='â€™':
                      tokens.append(word)

In [ ]:
len(tokens)

8611713

### Bi-Gram Formation

In [ ]:
bi_grams = []

In [ ]:
for i in range(len(tokens)-1):

    bi = tokens[i] + ' ' + tokens[i+1]
    bi_grams.append(bi)

In [ ]:
len(bi_grams)

8611712

### Tri-Gram Formation

In [ ]:
tri_grams = []

In [ ]:
for i in range(len(tokens)-2):

    tri = tokens[i] + ' ' + tokens[i+1] + ' ' + tokens[i+2]
    tri_grams.append(tri)

In [ ]:
len(tri_grams)

8611711

### Frequency Dictionaries

Uni-gram

In [ ]:
uni_grams_freq = Counter(tokens)
uni_grams_dictionary = dict(uni_grams_freq)

In [ ]:
len(uni_grams_dictionary.keys())

37218

Bi-gram

In [ ]:
bi_grams_freq = Counter(bi_grams)
bi_grams_dictionary = dict(bi_grams_freq)

In [ ]:
len(bi_grams_dictionary.keys())

1087623

Tri-gram

In [ ]:
tri_grams_freq = Counter(tri_grams)
tri_grams_dictionary = dict(tri_grams_freq)

In [ ]:
len(tri_grams_dictionary.keys())

3534682

### Dictionary Method (Approach 1)

In [ ]:
bi_gram_tokens = []

for i in bi_grams_dictionary.keys():

            # Default Parameters
            N = len(uni_grams_freq.keys()) 
            count_min = 5 
            thresh = 10 

            tokens = i.split(' ')
            a = tokens[0]
            b = tokens[1]

            # Accesing Uni-Gram Dictionary
            try:
                count_a = uni_grams_dictionary[a]
            except:
                count_a = 0

            try:
                count_b = uni_grams_dictionary[b]
            except:
                count_b = 0

            # Accesing Bi-Gram Dictionary
            try: 
                count_ab = bi_grams_dictionary[a + ' ' + b]
            except:
                count_ab = 0


            # Applying Formula From Reserach Paper
            numerator = count_ab - count_min
            denominator = count_a * count_b
            
            division = (numerator + 1) / (denominator + 1) 
            result = division * N

            if result > thresh:
                bi_gram_tokens.append(a + ' ' + b)

In [ ]:
len(bi_gram_tokens)

4974

In [ ]:
bi_gram_tokens[30:40]

['omra zaireen',
 'shibli frazz',
 'gardishi qarzon',
 'saam sang',
 'chal basey',
 'supreme court',
 'giray list',
 'zimma daari',
 'with holding',
 'mausam sarma']

In [ ]:
tri_gram_tokens = []

for i in tri_grams_dictionary.keys():
    
        # Default Parameters
        N = len(uni_grams_freq.keys()) 
        count_min = 5 
        thresh = 10 

        tokens = i.split(' ')
        a = tokens[0]
        b = tokens[1]
        c = tokens[2]

        try:
            count_a = uni_grams_dictionary[a]
        except:
            count_a = 0

        try:
            count_b = uni_grams_dictionary[b]
        except:
            count_b = 0

        try:
            count_c = uni_grams_dictionary[c]
        except:
            count_c = 0


        try: 
            count_abc = tri_grams_dictionary[a + ' ' + b + ' ' + c]
        except:
            count_abc = 0

      # Applying formula
        numerator = count_abc - count_min
        denominator = count_a * count_b * count_c
        
        division = (numerator + 1) / (denominator + 1) 
        result = division * N
        
        if result > thresh:
            tri_gram_tokens.append(a + ' ' + b + ' ' + c)

In [ ]:
tri_gram_tokens

['gloria vendor blt',
 'saya khudaye zuljilal',
 'muttahida quami movement',
 'saghir ellahi khachi',
 'kai po chey',
 'prat bres dlas',
 'bres dlas hvord',
 'loshya ayonz giraye',
 'atal bahari vajpayee',
 'adolah dabir almulk']

In [ ]:
tokens = []
tokens = bi_gram_tokens + tri_gram_tokens

tokens_df = pd.DataFrame(tokens)
tokens_df

                         0
0          askriat pasandi
1            khanay peenay
2          aqwam mutahidda
3                bar waqat
4              ands motors
...                    ...
4979        prat bres dlas
4980       bres dlas hvord
4981   loshya ayonz giraye
4982  atal bahari vajpayee
4983   adolah dabir almulk

[4984 rows x 1 columns]

In [ ]:
tokens_df.to_pickle("/content/drive/MyDrive/Internship/Project 4/model.pkl")

In [ ]:
import pickle
with open('/content/drive/MyDrive/Internship/Project 4/model2.pkl', 'wb') as f:
      pickle.dump(tokens, f)

### Roman Tokenizer (Approach 2)

In [ ]:
def roman_tokenizer(sentence):
   
    # Lowering
    sentence = sentence.lower()
    # Pre Processing
    tokens = []
    sentence = unlp(sentence)
    for word in sentence:

        word = str(word)
        for index in word:
            
              if index in punc:
                    word = word.replace(index,'')

        if word != "\n" and word != "\r" and word != " " and word != '' and word != " \r" and word !='â€˜' and word !='â€™':
              tokens.append(word)

    # Default Parameters
    N = len(uni_grams_freq.keys()) 
    count_min = 5 
    thresh = 10 
    
    # For By Tokens
    bi_tokens = [] 
    for i in range(len(tokens)):
        
        if i + 1 < len(tokens):

            a = tokens[i]
            b = tokens[i + 1]

            # Accesing Uni-Gram Dictionary
            try:
                count_a = uni_grams_dictionary[a]
            except:
                count_a = 0

            try:
                count_b = uni_grams_dictionary[b]
            except:
                count_b = 0

            # Accesing Bi-Gram Dictionary
            try: 
                count_ab = bi_grams_dictionary[a + ' ' + b]
            except:
                count_ab = 0


            # Applying Formula From Reserach Paper
            numerator = count_ab - count_min
            denominator = count_a * count_b
            
            division = (numerator + 1) / (denominator + 1) 
            result = division * N

            if result > thresh:
                bi_tokens.append(a + ' ' + b)
                
    for bitoken in bi_tokens:
        separate = bitoken.split(' ')
        
        index = tokens.index(separate[0])
        tokens.remove(separate[0])
        tokens.remove(separate[1])
        tokens.insert(index, bitoken)

    # tri_tokens = []
    # for i in range(len(tokens)):
        
    #     if i + 2 < len(tokens):

    #         a = tokens[i]
    #         b = tokens[i + 1]
    #         c = tokens[i + 2]

    #         try:
    #             count_a = uni_grams_dictionary[a]
    #         except:
    #             count_a = 0

    #         try:
    #             count_b = uni_grams_dictionary[b]
    #         except:
    #             count_b = 0

    #         try:
    #             count_c = uni_grams_dictionary[c]
    #         except:
    #             count_c = 0


    #         try: 
    #             count_abc = tri_grams_dictionary[a + ' ' + b + ' ' + c]
    #         except:
    #             count_abc = 0

    #       # Applying formula
    #         numerator = count_abc - count_min
    #         denominator = count_a * count_b * count_c
            
    #         division = (numerator + 1) / (denominator + 1) 
    #         result = division * N
            
    #         if result > thresh:
    #             tri_tokens.append(a + ' ' + b + ' ' + c)
    
    # Inserting Bi-Tokens In Tokenized array
    
    # for tritoken in tri_tokens:
    #     separate = tritoken.split(' ')
        
    #     index = tokens.index(separate[0])
    #     tokens.remove(separate[0])
    #     tokens.remove(separate[1])
    #     tokens.remove(separate[1])
    #     tokens.insert(index, bitoken)

    return tokens

### Input

In [ ]:
sentence = input("Enter the text to Tokkenize: ")

print(f"\n\nThe tokenized string is as follow : \n {roman_tokenizer(sentence)}")

Enter the text to Tokkenize: nawaz sharif kon hai?


The tokenized string is as follow :
 ['nawaz sharif', 'kon', 'hai', '?']

In [ ]:
sentence = input("Enter the text to Tokkenize: ")

print(f"\n\nThe tokenized string is as follow : \n {roman_tokenizer(sentence)}")

Enter the text to Tokkenize: kab hoga aqwam mutahidda ka ijlas !


The tokenized string is as follow :
 ['kab', 'hoga', 'aqwam mutahidda', 'ka', 'ijlas']